/* src/assets/styles/globals.css */
@import './colors.css';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  /* Aseguramos que el fondo cubra todo */
  min-height: 100vh;
}