@import './colors.css';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

.container {
  max-width: 900px;
  margin: 30px auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
}

h2, h3, h4 {
  color: var(--color-principal);
}

input, select, textarea {
  padding: 10px;
  border: 1px solid var(--color-gris);
  border-radius: 8px;
  margin-right: 10px;
  width: 250px;
}

button {
  background-color: var(--color-principal);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

button:hover {
  background-color: var(--color-secundario);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th {
  background-color: var(--color-principal);
  color: white;
  padding: 8px;
}

td {
  border: 1px solid var(--color-gris);
  padding: 8px;
  text-align: left;
}
