.tabla-historia {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tabla-historia th {
  background-color: var(--color-principal);
  color: white;
  padding: 8px;
}

.tabla-historia td {
  border: 1px solid var(--color-gris);
  padding: 8px;
}
